<div class="mastfoot">
  <div class="inner">
    <%= link_to image_tag('facebook.png'), 'http://facebook.com/thiagobleao', :target => "_blank" %>
    <%= link_to image_tag('linkedin.png'), 'https://linkedin.com/in/thiagoleao', :target => "_blank" %>
    <%= link_to image_tag('googleplus.png'), 'http://google.com/+ThiagoLeão90', :target => "_blank" %>
    <%= mail_to("thiagobleao@gmail.com", image_tag('email.png')) %>"
  </div>
</div>