<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <ul class="nav masthead-nav">
            <li class="active"><a href="http://getbootstrap.com/examples/cover/#">Home</a></li>
            <li><a href="http://getbootstrap.com/examples/cover/#">Currículo</a></li>
            <li><a href="http://getbootstrap.com/examples/cover/#">Blog</a></li>
            <li><a href="http://getbootstrap.com/examples/cover/#">Contato</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <div class="circular"></div>
        <h1 class="cover-heading">Thiago Leão</h1>
        <p class="lead">Analista de sistemas.<br /> Sócio da Morning Star Tecnologia e Inovação.<br />Graduado em Sistemas de Informação na UNIRIO.</p>
      </div>

      <%= render partial: "footer" %>

    </div>

  </div>

</div>


<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" title="" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;" data-original-title="Copy to clipboard">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1408415952303">         <param name="allowScriptAccess" value="sameDomain">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">         <embed src="/assets/flash/ZeroClipboard.swf?noCache=1408415952303" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com" scale="exactfit">                </object></div>
